* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

.mt-5 {
  padding: 50px 100px;
}

.welcome-text {
  color: #0d0da5; 
  text-align: center;
  font-size: 2em; 
}

.mt-5 h1 {
  color: #0d0da5;
  text-align: center;
  margin-bottom: 5px;
}

/* form */

.form-group {
  justify-items: center;
  background: #ffffff;
  padding: 50px;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.form-control {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: 0.5px solid #ffff;
  transition: all 0.5s ease-in-out;
}

.form-control:hover {
  border: 0.5px solid #0d0da5;
}

.form-control:focus {
  border: 0.5px solid #0d0da5;
  outline: none;
}

.form-control:valid {
  border: 0.5px solid #0d0da5;
}

.feather {
  color: #0d0da5;
}

.form-nama {
  display: flex;
  align-items: center;
  margin-bottom: 12.5px;
}

.feather-user {
  margin-right: 15px;
}

.form-nim {
  display: flex;
  align-items: center;
}

.feather-key {
  margin-right: 15px;
}

/* tabel */

.table-container h2 {
  color: #0d0da5;
  text-align: center;
  margin-bottom: 70px;
}

.table-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

thead th {
  background-color: #0d0da5;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  padding: 25px;
  border: 1px solid #dee2e6;
}

tbody td {
  padding: 10px;
  border: 1px solid #dee2e6;
}

/* tabel ganjil dan genap */

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
}

select option {
  background-color: #f8f9fa;
  color: #333;
}

select option:hover {
  background-color: #ff0202;
  color: white;
}

select option:checked {
  background-color: #0d0da5;
  color: white;
}

select:focus {
  border-color: #0d0da5;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.btn-primary {
  border: none;
  padding: 15px 15px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  background-color: #0d0da5;
  color: #ffff;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
  border: 1px solid #0d0da5;
  background-color: transparent;
  cursor: pointer;
  color: #0d0da5;

}

/* Progress Bar Style */
.progress-container {
  width: 50%;
  background-color: #ddd;
  border-radius: 20px;
  margin: 30px auto;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar {
  height: 30px;
  background-color: #0d0da5;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  transition: width 0.5s ease-in-out;
}